
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}' style="margin-top: 100px;">
    <!-- Parallax Image -->
    <div class="dzsparallaxer--target w-100 g-bg-img-hero g-bg-white-opacity-0_8--after" style="height: 200%; background-image: url(../../assets/img12.jpg);"></div>
    <!-- End Parallax Image -->
    <!-- Promo Block Content -->
    <div class="container u-bg-overlay__inner text-center g-py-130">
        <p class="g-color-black g-font-weight-600 g-font-size-35 text-uppercase">Welcome to our services</p>
    </div>
    <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->
<!-- News Blocks -->
<section class="container g-pt-100 g-pb-70">
    <div class="row">


        <div class="col-lg-4 g-mb-30">
            <!-- Article -->
            <article class="u-shadow-v22" style="height: 400px;">
                <figure class="g-pos-rel">
                    <a href="../Home/Services">
                        <img class="img-fluid w-100" src="~/assets/serv2.png" alt="Image Description">
                    </a>
                    <figcaption class="g-pos-abs g-top-20 g-left-20">
                        <a class="btn btn-sm u-btn-darkpurple rounded-0" href="#">Business</a>
                    </figcaption>
                </figure>

                <div class="g-pa-20">
                    <h3 class="h4 g-font-weight-300 g-mb-15">
                        <p class="u-link-v5 g-color-main g-color-primary--hover g-text-underline--none--hover" style="text-align: center;">Welcome to SFA</p>
                    </h3>

                    <div class="g-mb-30">
                        <p>
                            SFA Alliance offers various services related to businessman affairs, to all companies, factories, organizations,
                            associations and clubs for different types of businesses: industrial, commercial, services, and financing.
                        </p>
                    </div>


                </div>
            </article>
            <!-- End Article -->
        </div>

        <div class="col-lg-4 g-mb-30">
            <!-- Article -->
            <article class="u-shadow-v22" style="height: 400px;">
                <figure class="g-pos-rel">
                    <a href="../Home/SoftIn">
                        <img class="img-fluid w-100" src="~/assets/softIN.jpg" alt="Image Description">
                    </a>
                    <figcaption class="g-pos-abs g-top-20 g-left-20">
                        <a class="btn btn-sm u-btn-darkpurple rounded-0" href="#">ERP</a>
                    </figcaption>
                </figure>

                <div class="g-pa-20">
                    <h3 class="h4 g-font-weight-300 g-mb-15">
                        <p class="u-link-v5 g-color-main g-color-primary--hover g-text-underline--none--hover" style="text-align: center;">Welcome to softiN</p>
                    </h3>

                    <div class="g-mb-30">
                        <p>
                            company would choose to implement an ERP after a careful determination of business
                            inputs, processes, and outputs
                        </p>
                    </div>


                </div>
            </article>
            <!-- End Article -->
        </div>


        <div class="col-lg-4 g-mb-30">
            <!-- Article -->
            <article class="u-shadow-v22" style="height: 400px;">
                <figure class="g-pos-rel">
                    <a href="../Home/SoftIn">
                        <img class="img-fluid w-100" src="~/assets/serv1.png" alt="Image Description">
                    </a>
                    <figcaption class="g-pos-abs g-top-20 g-left-20">
                        <a class="btn btn-sm u-btn-darkpurple rounded-0" href="#">Recruter</a>
                    </figcaption>
                </figure>

                <div class="g-pa-20">
                    <h3 class="h4 g-font-weight-300 g-mb-15">
                        <p class="u-link-v5 g-color-main g-color-primary--hover g-text-underline--none--hover" style="text-align: center;">Welcome to Job-in</p>
                    </h3>

                    <div class="g-mb-30">
                        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellusimp imperdiet molestie est volutpat at. Sed viverra cursus nibh.</p>
                    </div>


                </div>
            </article>
            <!-- End Article -->
        </div>


    </div>

    <!-- our process-->

    <section>
        <div class="container g-pt-100 g-pb-40">
            <div class="row justify-content-center g-mb-60">
                <div class="col-lg-7">
                    <!-- Heading -->
                    <div class="text-center">
                        <h2 class="h3 g-color-black text-uppercase mb-2">Our process</h2>
                        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                        <p class="lead mb-0">
                            SFA Alliance offers various services related to businessman affairs, to all companies, factories, organizations,
                            associations and clubs for different types of businesses: industrial, commercial, services, and financing.
                        </p>
                    </div>
                    <!-- End Heading -->
                </div>
            </div>

            <!-- Static Process -->
            <div class="row">
                <div class="col-sm-6 col-lg-3 g-mb-60">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-transparent--before g-brd-gray-light-v2--after g-mb-20">
                            <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                        </i>
                        <h3 class="h5 g-color-black mb-20">send us a request</h3>

                    </div>
                    <!-- End Static Process -->
                </div>

                <div class="col-sm-6 col-lg-3 g-mb-60">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20">
                            <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                        </i>
                        <h3 class="h5 g-color-black mb-20">we will Review the request</h3>

                    </div>
                    <!-- End Static Process -->
                </div>

                <div class="col-sm-6 col-lg-3 g-mb-60">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20">
                            <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                        </i>
                        <h3 class="h5 g-color-black mb-20">send you an application to Fill</h3>

                    </div>
                    <!-- End Static Process -->
                </div>

                <div class="col-sm-6 col-lg-3 g-mb-60">
                    <!-- Static Process -->
                    <div class="text-center">
                        <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-transparent--after g-mb-20">
                            <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                        </i>
                        <h3 class="h5 g-color-black mb-20">contact you as soon as posible </h3>

                    </div>
                    <!-- End Static Process -->
                </div>
            </div>
            <!-- End Static Process -->
        </div>
    </section>


</section>
<!-- End News Blocks -->
<!-- Icon Blocks -->
<section class="g-bg-secondary">
    <div class="container g-py-100">
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">Our features</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    <p class="lead mb-0">
                        Our experience across a wide range of industries enables us to provide these services tailored to your specific business
                        needs and remuneration requirements.
                    </p>
                </div>
                <!-- End Heading -->
            </div>
        </div>

        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 serviceblocks" id="StudiesandSurveys">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <!--   <i class="fa fa-file"></i>-->
                                <i class="icon-education-035 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Studies and Surveys</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>

                            <ul style="font-size: 15px; font-weight: bold;">
                                <li> Feasibility Studies,</li>
                                <li>Business Budget,</li>
                                <li> Business Plans,</li>
                                <li> Start-up Consulting,</li>
                                <li> Financial Consultants,</li>
                                <li>  Corporate, and Employees Survey,</li>
                                <li> Special Business Survey,</li>
                                <li> Business Risk Consultancy,</li>
                                <li> Business Compliance Consultancy</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 serviceblocks" id="Taxation">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <i class="icon-education-141 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Taxation</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <ul style="font-size: 15px; font-weight: bold;">
                                <li>Business Income Tax,</li>
                                <li>Value Added Tax,</li>
                                <li>Payroll Tax,</li>
                                <li>Withheld Tax,</li>
                                <li>Property Tax,</li>
                                <li> In Direct Tax,</li>
                                <li>Multinational Tax,</li>
                                <li> Tax Compliance Consultancy</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->
        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 serviceblocks" id="ExternalAuditingandAssurance">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <i class="icon-education-087 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">External Auditing and Assurance</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <ul style="font-size: 15px; font-weight: bold;">
                                <li>Auditing and Assurance,</li>
                                <li>Limited Assurance,</li>
                                <li>Internal Audit Review,</li>
                                <li>Special Review Assignment,</li>
                                <li>Risk Assessments,</li>
                                <li>Independent Audit Reports,</li>
                                <li>Special Compliance Consultancy</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 serviceblocks" id="InternalAuditandControls">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <i class="icon-finance-256 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Internal Audit and Controls</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <ul style="font-size: 15px; font-weight: bold;">
                                <li>Accounting, Inventory Controls,</li>
                                <li>Operation Internal Controls,</li>
                                <li>Costing Controls,</li>
                                <li>Internal Structure and Hierarchy,</li>
                                <li>Documentation Cycles,</li>
                                <li>Internal Regulations Compliance</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->
        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 serviceblocks" id="Bookkeeping&Accounting">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <i class="icon-science-020 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Bookkeeping & Accounting</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <ul style="font-size: 15px; font-weight: bold;">
                                <li>Outsourcing Bookkeeping,</li>
                                <li>Accounting Section Support,</li>
                                <li>SMEs Full Accounting,</li>
                                <li>Cost Accounting,</li>
                                <li>Enterprise Accounting Software’s,</li>
                                <li>Accounting Standards Compliance</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 serviceblocks" id="BusinessLegalAffairs">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <i class="icon-education-008 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Business Legal Affairs</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <ul style="font-size: 15px; font-weight: bold;">
                                <li>Corporate legal service,</li>
                                <li>Incorporation GAFI,</li>
                                <li>Corporate Re-Formation,</li>
                                <li>Start-up Legal Services,</li>
                                <li>Employment Law,</li>
                                <li>Social Insurance Law,</li>
                                <li>Employment, Commercial Contracts,</li>
                                <li>Legal Compliance Consultancy</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->
        <!-- Icon Blocks -->
        <div class="row" id="HumanResources">
            <div class="col-lg-6 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 serviceblocks">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <i class=" icon-education-043 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Human Resources</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <ul style="font-size: 15px; font-weight: bold;">
                                <li>Staffing and Recruitment,</li>
                                <li>Organization Charts, Job Analysis,</li>
                                <li>Human Resources Personnel,</li>
                                <li>Hr Administration, Files Secretary,</li>
                                <li>HR Organization Developments,</li>
                                <li>Performance Appraisal Procedures,</li>
                                <li>Payroll Process Specialist,</li>
                                <li>HRM Compliance Consultancy</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-mb-30" id="Administrative">
                <!-- Icon Blocks -->
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 serviceblocks">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                            <span class="g-color-gray-dark-v4 g-font-size-26">
                                <i class="  icon-education-121 u-line-icon-pro"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Administrative</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <ul style="font-size: 15px; font-weight: bold;">
                                <li>Health and life insurance Administration,</li>
                                <li>Employees Payroll Banking service,</li>
                                <li>SMEs Business Administration,</li>
                                <li>Recruitment and Interviews Coordination,</li>
                                <li>Business Executive Secretary Services,</li>
                                <li>Corporate Governmental Procedures</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->


    </div>
</section>
<!-- End Icon Blocks -->
<!-- Counters -->
<section class="dzsparallaxer auto-init height-is-based-on-content">
    <!-- Parallax Image -->
    <div class="dzsparallaxer--target w-100 g-bg-size-cover u-bg-overlay g-bg-bluegray-opacity-0_3--after" style="height: 140%; background: url(../../assets/img13.jpg)"></div>
    <!-- End Parallax Image -->

    <div class="container u-bg-overlay__inner g-pt-150 g-pb-100">
        <div class="row text-center text-uppercase g-color-white">
            <!-- Counters -->
            <div class="col-md-3 col-6 g-mb-50">
                <i class="et-icon-beaker display-5 mb-3"></i>
                <div class="js-counter g-font-size-32 mb-2">265</div>
                <h4 class="h5 g-font-weight-300 mb-0">Innovations</h4>
            </div>
            <!-- End Counters -->
            <!-- Counters -->
            <div class="col-md-3 col-6 g-mb-50">
                <i class="et-icon-clock display-5 mb-3"></i>
                <div class="js-counter g-font-size-32 mb-2">5957</div>
                <h4 class="h5 g-font-weight-300 mb-0">Working Hours</h4>
            </div>
            <!-- End Counters -->
            <!-- Counters -->
            <div class="col-md-3 col-6 g-mb-50">
                <i class="et-icon-chat display-5 mb-3"></i>
                <div class="js-counter g-font-size-32 mb-2">3495</div>
                <h4 class="h5 g-font-weight-300 mb-0">Happy Clients</h4>
            </div>
            <!-- End Counters -->
            <!-- Counters -->
            <div class="col-md-3 col-6 g-mb-50">
                <i class="et-icon-lightbulb display-5 mb-3"></i>
                <div class="js-counter g-font-size-32 mb-2">576</div>
                <h4 class="h5 g-font-weight-300 mb-0">New Ideas</h4>
            </div>
            <!-- End Counters -->
        </div>
    </div>
</section>
<!-- Counters -->
<!-- Clients -->
<div class="container g-py-70">
    <div class="js-carousel" data-infinite="true" data-autoplay="true" data-slides-show="6" data-responsive='[{
     "breakpoint": 1200,
     "settings": {
       "slidesToShow": 6
     }
   }, {
     "breakpoint": 992,
     "settings": {
       "slidesToShow": 5
     }
   }, {
     "breakpoint": 768,
     "settings": {
       "slidesToShow": 4
     }
   }, {
     "breakpoint": 576,
     "settings": {
       "slidesToShow": 2
     }
   }, {
     "breakpoint": 446,
     "settings": {
       "slidesToShow": 1
     }
   }]'>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="~/assets/img1.png" alt="Image Description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="~/assets/img2.png" alt="Image Description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="~/assets/img3.png" alt="Image Description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="~/assets/img4.png" alt="Image Description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="~/assets/img5.png" alt="Image Description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="~/assets/img7.png" alt="Image Description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="~/assets/img8.png" alt="Image Description">
        </div>


        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="~/assets/img6.png" alt="Image Description">
        </div>

    </div>
</div>
<!-- End Clients -->