
@{
    ViewBag.Title = "SoftIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}' style="margin-top: 100px;">
    <!-- Parallax Image -->
    <div class="dzsparallaxer--target w-100 g-bg-img-hero g-bg-white-opacity-0_8--after" style="height: 200%; background-image: url(../../assets/img12.jpg);"></div>
    <!-- End Parallax Image -->
    <!-- Promo Block Content -->
    <div class="container u-bg-overlay__inner text-center g-py-130">
        <p class="g-color-black g-font-weight-600 g-font-size-35 text-uppercase">Welcome to soft IN</p>
    </div>
    <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->
<!-- Section 1 -->
<section class="g-py-100 g-bg-teal g-color-white" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center g-mb-50--md g-mb-0--md">
                <div class="u-heading-v2-3--bottom g-brd-white g-mb-30">
                    <h2 class="h1 u-heading-v2__title text-uppercase g-font-weight-700">welcome to softIN</h2>
                </div>

                <div class="g-font-size-18 g-line-height-2 g-mb-30">
                    <p>
                        company would choose to implement an <strong> ERP </strong> after a careful determination of business
                        inputs, processes, and outputs which they have identified the current system being
                        inadequate to handle, thus requiring an ERP to improve business performance
                    </p>

                    <p>
                        The <strong> advantages</strong> presented by the ERP are:
                        Optimization of business processes. Accurate and timely access to reliable information. The
                        ability to share information between all components of the organization. Elimination of
                        unnecessary operations and data
                    </p>
                </div>

            </div>

            <div class="col-md-6 align-self-center text-center g-overflow-hidden">
                <img class="img-fluid w-75" src="~/assets/softinlogo.png" alt="Image Description">
            </div>
        </div>
    </div>
</section>
<!-- End Section 1 -->
<!-- Icon Blocks -->
<section class="g-brd-bottom g-brd-gray-light-v4" style="margin-top: 80px;">
    <div class="container g-py-100">
        <h2 class="g-color-black g-font-weight-600 text-center g-mb-60">softIN services</h2>

        <!-- Icon Blocks -->
        <div class="row no-gutters">
            <div class="col-sm-6 col-lg-3">
                <!-- Icon Blocks -->
                <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">01</span>
                    <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                        <i class="icon-education-087 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-black g-font-weight-600 mb-3">Human Resource. HRM</h3>

                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Icon Blocks -->
                <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">02</span>
                    <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                        <i class="icon-communication-043 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-black g-font-weight-600 mb-3">Inventory. WHM</h3>

                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Icon Blocks -->
                <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">03</span>
                    <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                        <i class="icon-finance-247 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-black g-font-weight-600 mb-3">Sales & Marketing. SDM</h3>

                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Icon Blocks -->
                <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">04</span>
                    <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                        <i class="icon-real-estate-031 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-black g-font-weight-600 mb-3">Purchase. PM</h3>

                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->
        <!-- Icon Blocks -->
        <div class="row no-gutters g-mb-50">
            <div class="col-sm-6 col-lg-3">
                <!-- Icon Blocks -->
                <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">05</span>
                    <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                        <i class="icon-hotel-restaurant-002 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-black g-font-weight-600 mb-3">Finance & Accounting. <p> FICO </p></h3>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Icon Blocks -->
                <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">06</span>
                    <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                        <i class="icon-education-035 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-black g-font-weight-600 mb-3">Customer Relationship Management (CRM)</h3>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Icon Blocks -->
                <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">07</span>
                    <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                        <i class="icon-education-141 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-black g-font-weight-600 mb-3">Engineering/ Production. PPM</h3>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
                <!-- Icon Blocks -->
                <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">08</span>
                    <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                        <i class="icon-finance-256 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-black g-font-weight-600 mb-3">Supply Chain Management (SCM)</h3>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->

    </div>
</section>
<!-- End Icon Blocks -->
